h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    text-align: center;
}

h3 {
    font-family: "Arsenal", sans-serif;
    font-style: normal;
    text-align: center;
}
h4{
    font-family: "Arsenal", sans-serif;
    font-style: normal;
    text-align: center;
}

.persodle_title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: large;
    text-align: center;
}

.Element_Table{
    margin-left: auto;
    margin-right: auto;
}

.guessArea{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 100px;
}

.elementTable{
    border: solid;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.tableText{
    border-bottom: solid black;
}

.guessNum{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.remainingGuesses{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

